/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:wght@100..900&display=swap");

.App {
  background-color: black;
  color: #fbf4e6;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #010d10;
  min-height: 100vh;
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* COMPONENT PROJECT */

/* Button */

.btn {
  max-width: 103;
  max-height: 25;
  top: 20px;
  left: 20px;

  border-radius: 6px;
  border-width: 2px;

  gap: 6px;
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 3px;
  padding-left: 7px;

  background-color: transparent;
  border: 2px solid #fbf4e6;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.btn p {
  margin: 0;
  max-width: 103;
  max-height: 25;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 16px;
  color: #fbf4e6;
  line-height: 18.75px;
  letter-spacing: -1.7%;
  text-transform: uppercase;
}

.btn img {
  width: 14.000000000000053;
  /* angle: -0 deg; */
  border-width: 2px;
}

.btn:hover {
  border-color: #fcbf49;
}

.btn p:hover {
  font-size: 17px;
  line-height: 19.92px;
}

/* Hero Section */

.landingPage {
  max-width: 1154px;
  margin: 0 auto;
  height: auto;
  left: -1px;
  background: linear-gradient(rgba(5, 33, 48, 0.82), rgba(5, 33, 48, 0.82)), url("../src/Assets/Img/iStock.jpg");
  background-size: cover;
  background-position: center;
}

.heroSection {
  max-width: 1154px;
  left: -1px;
  padding: 0em 2em;
  padding-bottom: 3.5em;
  display: flex;
  align-items: flex-start;
}

.heroSection h1 {
  margin: 0;
  padding-left: 3.5em;
  padding-right: 0.7em;

  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 52.8px;
  letter-spacing: -2%;
  color: #fbf4e6;
  text-align: left;
}

.textSection {
  text-align: left;
  padding-right: 2em;
  margin: 1rem;
  margin-bottom: 0;
}

.mobileIcon {
  display: none;
}

.textSection h3 {
  margin-top: 0;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17.58px;
  letter-spacing: 3%;
  color: #fcbf49;
}

.textSection p {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22.4px;
  letter-spacing: 0%;

  padding-bottom: 2.5em;
}

.textSection .btn p {
  padding: 0;
}

/* Nav */

.sizeNav {
  max-width: 100%;
  padding: 2.5em 3.5em;
  left: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #042131 0%, rgba(5, 33, 48, 0) 100%);
}

.sizeNav h3 {
  max-width: 128;
  max-height: 21;
  top: 88px;
  left: 135px;
  margin: 0;

  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 3%;
  color: #fbf4e6;
}

.sizeNav p {
  max-width: 50;
  max-height: 13;
  top: 92px;
  left: 553px;
  margin: 0;

  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0%;
  text-align: center;
}

.sizeNav p span {
  /* margin: 0; */
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0%;
  text-align: center;
}

.sizeNav div {
  /* margin: 0; */
  max-width: 239;
  max-height: 27;
  top: 84px;
  left: 790.5px;

  display: flex;
  justify-content: space-between;
  gap: 20px;

  font-family: Font Awesome 5 Brands;
  font-weight: 400;
  font-size: 15px;
  line-height: 24.6px;
  letter-spacing: 71.5%;
  text-align: right;
}

/* Biography */

.biography {
  max-width: 1154px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.biography h2 {
  padding: 1em;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: -1.7%;
  text-align: center;
  color: #fbf4e6;
}

.blockText .btn {
  max-width: fit-content;
  margin-bottom: 3em;
}

.blockText {
  text-align: center;
  max-width: 732px;
  max-height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5em;

  opacity: 1;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.textColumn {
  max-width: 375px;
  text-align: left;
  margin: 0 auto;

  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0%;
}

.moreText {
  display: flex;
  gap: 0.5em;
}

.lessButton {
  align-self: flex-end;
  margin: 0 0.5em 0.5em 0;
}

/* Expertise Section */

.expertise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1154px;
  overflow: hidden;
}

.expertise-container h2 {
  padding: 1em;

  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: -1.7%;
  text-align: center;
}

.expertise-row {
  display: flex;
  width: 100%;
  height: 385px;
}

.box {
  max-width: 33.33%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.box-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.6s ease-in-out;
  z-index: 0;
}

.box-text.hidden {
  top: 43.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-text p {
  position: relative;
  display: inline;
  padding: 0;

  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 47.48px;
  letter-spacing: 0%;
  text-align: center;

  color: #ffffff;

  background-color: black;
}

.box-hover-menu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #51686f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: right 0.5s ease-in-out;
}

.box-hover-menu.show {
  right: 0;
}

.box-hover-menu.show p {
  letter-spacing: 0%;
  text-align: center;
  font-family: Roboto;
}

.hoverTitle {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
}

.hoverContent {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  padding: 0 2em;
}

/* CLIENTS & COLLAB */

.clientAndCollab {
  overflow: hidden;
  white-space: nowrap;
  max-width: 1154px;
}

.clientAndCollab h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: -1.7%;
  text-align: center;
  text-transform: uppercase;
  padding: 2em;
}

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  border: 2px solid #fcbf49;
  border-inline: 0;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  margin: 0.2em;
  margin-inline: 0;
  color: #fcbf49;
  border-radius: 0.25rem;
  text-align: center;
}

.marquee__content p {
  margin: 0;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.marquee__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding-left: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.enable-animation .marquee__content {
  animation: scroll 10s linear infinite;
}

.bar {
  width: 8px;
  margin: auto;
  border: 1px solid #fcbf49;
}

/* footer */

.footerLayout {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #042131 100%);
  width: 1154px;
  display: block;
}

.footerMobile {
  display: none;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3em;
  padding: 2em 0;
  margin-top: 2em;

  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.23px;
  letter-spacing: 0%;
  text-align: center;
}

.contact h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 17.58px;
  letter-spacing: 3%;
}

.footerIconLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
}

.rights {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 2em;

  width: 526.543701171875;
  height: 33;
  top: 168px;
  left: 309.23px;
  opacity: 0.27;
}

/* MediaQuery */

@media (max-width: 1154px) {
  .landingPage,
  .heroSection,
  .biography,
  .clientAndCollab,
  .expertise-container {
    max-width: 421px;
    margin-inline: 0;
    overflow: hidden;
  }

  /* LandingPage */

  .sizeNav {
    padding: 2em 1em 4em 1em;
  }

  .sizeNav div {
    display: none;
  }

  .heroSection {
    padding: 0;
    padding-left: 1em;
    flex-direction: column;
  }

  .heroSection h1 {
    padding: 0;
    padding-right: 2em;
    margin-bottom: 1em;
  }

  .textSection {
    text-align: left;
    padding-right: 4em;
    margin: 0;
  }

  .textSection p {
    padding: 0;
  }

  .mobileIcon {
    display: flex;
    gap: 1.5em;
    margin-top: 3em;
    padding: 3em 0;

    font-family: Font Awesome 5 Brands;
    font-weight: 400;
    font-size: 19px;
    line-height: 31.16px;
    letter-spacing: 57%;
  }

  /* Biography */

  .biography {
    max-width: 1154px;
    margin: 2em 0;
    display: block;
  }

  .biography h2 {
    padding: 0;
    text-align: start;
  }

  .blockText {
    max-width: 732px;
    justify-content: flex-start;
    gap: 0.5em;
  }

  .moreButton {
    align-self: flex-start;
    margin: 1em 0 5em 0;
  }

  .textColumn {
    max-width: 360px;
  }

  .moreText {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .lessButton {
    align-self: flex-end;
    margin: 0 0.5em 0.5em 0;
  }

  /* Expertise */

  .expertise-container {
    display: block;
  }

  .expertise-container h2 {
    text-align: start;
  }

  .expertise-row {
    flex-direction: column;
    height: auto;
  }

  .box {
    max-width: 100%;
    height: 400px;
  }

  .box-image {
    width: 100%;
  }
  /* CLIENTS & COLLAB */

  .clientAndCollab h2 {
    margin-bottom: 0;
  }

  /* Marquee styles */
  .marquee {
    --gap: 0.5rem;
  }

  .marquee__content {
    gap: var(--gap);
  }

  .marquee__content p {
    margin: 0.2em 0;
  }

  /* footer */

  .footerLayout {
    display: none;
  }

  .footerMobile {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #042131 100%);
    display: block;
    width: 420px;
  }
  .contact {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .contact p {
    color: #fbf4e6;
    opacity: 0.5;
    padding: 0.5em 0;
  }

  .contact h4 {
    margin-bottom: 0;
  }

  .footerBar {
    border: 1px solid #ffffff;
    width: 80%;
    margin: 0.5em auto;
  }

  .footerIcon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin: 3em auto 2em auto;

    font-family: Font Awesome 5 Brands;
    font-weight: 400;
    font-size: 19px;
    line-height: 31.16px;
    letter-spacing: 79%;
    text-align: center;
  }

  .rights {
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: 0%;
    text-align: center;

    opacity: 0.27;
  }
}
